/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.top-bar{
		left: var(--sidebar-width);
		width: calc(100vw - var(--sidebar-width));
	}

	.sidebar{
		left: 0px;
	}

	.page-content{
		margin-left: var(--sidebar-width);
		max-width: calc(100vw - var(--sidebar-width));
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}